.env
/.venv
/scripts/*.json
/scripts/BILLS/*.json
/scripts/COURT_OPINIONS/*.json
/scripts/EXECUTIVE_ORDERS/*.json
/scripts/EXECUTIVE_ORDERS/*.csv
/src/assets/
/src/__pycache__
/node_modules
/scripts/BILLS/*.gexf
/scripts/COURT_OPINIONS/*.gexf
/scripts/EXECUTIVE_ORDERS/*.gexf
server.log